.board {
    width: 330px;
    margin: 5vw auto;
}



.box {
  position: relative;

  width: 100px;

  height: 100px;
  
  background-color: royalblue;

  margin: 5px;

  float: left;
}

.box:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;

/* just for example */
  padding: 2.25vw;
  font: normal 2.25vw/1.3 Arial, sans-serif;
  color: #fff;
}